{% paginate collections by 12 %}
    <div class="container px-4 py-8 md:py-16">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            {% for collection in collections %}
                <a href="{{ collection.url }}" class="flex flex-col relative">
                    {% render 'optimized-image', imageObject: collection.featured_image %}
                    <div class="absolute bottom-0 left-0 w-full bg-black bg-opacity-40 text-white p-4">
                        {{ collection.title | strip_html }}
                    </div>
                </a>
            {% endfor %}
        </div>
        {% render 'pagination' with paginate as paginate %}
    </div>
{% endpaginate %}