<div class="container">
  <h1>{{ page.title }}</h1>
  {{ page.content }}
</div>

{% schema %}
{
  "name": "Page Content",
  "tag": "section",
  "class": "section page",
  "presets": [
    {
      "name": "Page Content"
    }
  ]
}
{% endschema %}